.card {
  text-align: center;
  float: left;
  width: calc(25% - 20px);
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  height: 200px;
}

.navbtn {
  margin-left: 70em;
}
.loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 10s linear infinite;
  animation: spin 10s linear infinite;
  display: flex;
  align-items: center;
  justify-content: center;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
